<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
      <div class="info">
        <div class="collapse in" id="collapseExample" aria-expanded="true">
          <ul class="nav">
            <li>
              <a href="#profile">
                <span class="link-collapse">My Profile</span>
              </a>
            </li>
            <li>
              <a href="#edit">
                <span class="link-collapse">Edit Profile</span>
              </a>
            </li>
            <li>
              <a href="#settings">
                <span class="link-collapse">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" href="javascript:void(0);">
            <i class="la la-archive"></i>
            <p>Dashboard</p>
            <span class="badge badge-count"></span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/information" routerLinkActive="active" href="javascript:void(0);">
            <i class="la la-list"></i>
            <p>Information</p>
            <span class="badge badge-count"></span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/latest-timers" routerLinkActive="active" href="javascript:void(0);">
            <i class="la la-clock-o"></i>
            <p>Latest Timers</p>
            <span class="badge badge-count"></span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/statistics" routerLinkActive="active" href="javascript:void(0);">
            <i class="la la-area-chart"></i>
            <p>Statistics</p>
            <span class="badge badge-count"></span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/reports" routerLinkActive="active" href="javascript:void(0);">
            <i class="la la-bell"></i>
            <p>Reports</p>
            <span class="badge la-paperclip"></span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/connstats" routerLinkActive="active" href="javascript:void(0);">
            <i class="la la-signal"></i>
            <p>Connection Status</p>
            <span class="badge badge-danger"></span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/update" routerLinkActive="active" href="javascript:void(0);">
            <i class="la la-refresh"></i>
            <p>Update</p>
          </a>
        </li>
      </ul>
    </div>
  </div>