<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <h4 class="page-title">Information</h4>
      <div class="row">
<!--							<div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Example:</h4>
              <p class="card-category">Help</p>
            </div>
            <div class="card-body">
              <p class="demo">
                <button class="btn btn-default">Default</button>
              </p>
            </div>
          </div>
        </div>-->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Junction Name:</h4>
              <p class="card-category">Gachibowli ORR</p>
            </div>
<!--									<div class="card-body">
              <p class="demo">
                <button class="btn btn-default">Default</button>
              </p>
            </div>-->
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Number of phases:</h4>
              <p class="card-category">4</p>
            </div>
<!--									<div class="card-body">
              <p class="demo">
                <button class="btn btn-default">Default</button>
              </p>
            </div>-->
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Phase Information:</h4>
              <p class="card-category">R1: Telecom Nagar <br> R2: Kothaguda <br> R3: IndraNagar <br> R4: ORR Pedestrian</p>
            </div>
<!--									<div class="card-body">
              <p class="demo">
                <button class="btn btn-default">Default</button>
              </p>
            </div>-->
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Pedestrian Time:</h4>
              <p class="card-category">8 seconds</p>
            </div>
            <div class="card-body">
              <p class="demo">
                <button class="btn btn-default">Update</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Current Adaptive Factor:</h4>
              <p class="card-category">R1 = 100% <br> R2 = 100% <br> R3 = 90% <br> R4 = 100%</p>
            </div>
            <div class="card-body">
              <p class="demo">
                <button class="btn btn-default">Update</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
            <footer class="footer">
    <div class="container-fluid">
      <div class="copyright ml-auto">
        <i class="la la-square"></i> <a href="mailto:support@smatraffic.co"> Help & Support Mail </a>  
        <i class="la la-square"></i> Designed  by <a href="http://smatraffi.co/">Smatraffi Co </a>  
        <i class="la la-square"></i> Hosted by <a href="http://www.brandingstudio.net">Branding Studio Networks </a>
      </div>				
    </div>
  </footer>
</div>