<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <h4 class="page-title">Dashboard</h4>
      <div class="row">
        <div class="col-md-3">
          <div class="card card-stats card-warning">
            <div class="card-body ">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="la la-long-arrow-up"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">R1</p>
                    <h4 class="card-title">30</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats card-success">
            <div class="card-body ">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="la la-long-arrow-right"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">R2</p>
                    <h4 class="card-title">45</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats card-danger">
            <div class="card-body">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="la la-long-arrow-down"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">R3</p>
                    <h4 class="card-title">36</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats card-primary">
            <div class="card-body ">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="la la-long-arrow-left"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">R4</p>
                    <h4 class="card-title">37</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Live Traffic </h4>
              <p class="card-category">Junction</p>
            </div>
            <div class="card-body">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
                (mapClick)="mapClicked($event)">

                <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                  [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

                  <agm-info-window>
                    <strong>{{m.Name}}</strong>
                  </agm-info-window>

                </agm-marker>

                <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                  [circleDraggable]="true" [editable]="true">
                </agm-circle>

              </agm-map>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright ml-auto">
            <i class="la la-square"></i> <a href="mailto:support@smatraffic.co"> Help & Support Mail </a>
            <i class="la la-square"></i> Designed by <a href="http://smatraffi.co/">Smatraffi Co </a>
            <i class="la la-square"></i> Hosted by <a href="http://www.brandingstudio.net">Branding Studio Networks
            </a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
